$mainColor: #FFFFFF;
$yellow: #F7CE74;
$pink: #EE6CB7;
$blue: #82D2EE;
$darkBlue: #283054;
$gray: #F0F2F8;
$newblue: #141C39;


*{
    padding: 0;
    margin: 0;
    position: relative;
}
html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
}
#interactive-section{
    width: 100%;
    height: 700px;
    display: flex;
    margin-top: 5px;
    #txt-editor{
        width: 50%;
        height: 100%;
    }
    #display{
        width: 50%;
        height: 100%;
        border: solid #707070 1px;
    }
}
#bottom-interactive-section{
    width: 100%;
    height: 250px;
    display: flex;
    margin-bottom: 30px;
    .take-up-space{
        width: 50%;
        height: 100%;
    }
    #copy-area{
        width: 50%;
        height: 100%;
        border: solid #707070 1px;
    }
}