* {
  padding: 0;
  margin: 0;
  position: relative;
}

::selection {
  color: none;
  background: #F7CE74;
}

/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

/* For websites */
#ad {
  width: 100%;
  height: 80px;
  background-color: #F7CE74;
}

#header {
  display: flex;
  width: 100%;
  height: 68px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 3.5px #e6e6e6;
  z-index: 300;
  /* For smaller screens (smart devices)        ########################### Begining*/
  /* For smaller screens (smart devices)      ########################### End*/
}
#header .link {
  text-decoration: none;
  color: #283054;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  top: 25px;
  left: 8vw;
  margin: 0 1.5vw;
  font-size: 18px;
  font-weight: 400;
  height: 18px;
  padding: 1px 5px 5px 5px;
}
#header .link:hover {
  border-bottom: solid #141C39 3px;
}
#header #drop-down-menu {
  display: none;
}
@media only screen and (max-width: 900px) {
  #header .link {
    display: none;
  }
  #header #drop-down-menu {
    display: block;
    width: 35px;
    height: 30px;
    background-color: #FFFFFF;
    margin: 20px auto;
    margin-right: 6vw;
  }
  #header #drop-down-menu .bar {
    border-bottom: solid #141C39 4px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 6px;
  }
  #header #drop-down-menu:hover .bar {
    box-shadow: 2px 2px 4px #283054;
  }
  #header .center-links {
    position: absolute;
    text-decoration: none;
    color: #141C39;
    font-size: 15px;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
  }
  #header .center-links:hover {
    border: solid #141C39 3px;
  }
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .body {
  padding-top: 68px;
}

@media only screen and (max-width: 900px) {
  #white-body {
    flex-direction: column-reverse;
  }
}
#white-body {
  width: 100%;
  height: 600px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  /* For smaller screens (smart devices)        ########################### Begining*/
  /* For smaller screens (smart devices)      ########################### End*/
  /* For smaller screens (smart devices)      ########################### Beggining*/
  /* For smaller screens (smart devices)       ########################### End*/
}
@media only screen and (max-width: 900px) {
  #white-body .decoration {
    display: none;
  }
  #white-body .decoration2 {
    display: none;
  }
}
#white-body #text-wrapper {
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  color: #141C39;
}
#white-body #circle-frame {
  left: 5vw;
  height: 300px;
  width: 300px;
  border-radius: 150px;
  background-image: linear-gradient(to bottom right, #141C39, #82D2EE);
}
#white-body #circle-frame .persons-image {
  height: 230px;
  width: 230px;
  border-radius: 100px;
  background-image: url(../images/omar.JPG);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 60%;
  left: 45px;
  top: 45px;
}
@media only screen and (max-width: 900px) {
  #white-body #circle-frame {
    left: 0;
    height: 250px;
    width: 250px;
  }
  #white-body #circle-frame .persons-image {
    height: 200px;
    width: 200px;
    left: 25px;
    top: 25px;
  }
  #white-body #text-wrapper {
    height: 250px;
    font-size: 100%;
    text-align: center;
    width: 100%;
  }
  #white-body #text-wrapper h1 {
    vertical-align: middle;
  }
}

#body-w-info {
  width: 100%;
  height: 550px;
  background-color: #F0F2F8;
  /* For smaller screens (smart devices)      ########################### Begining*/
  /* For smaller screens (smart devices)     ########################### End*/
  /* For smaller screens (smart devices)         ########################### Begining*/
  /* For smaller screens (smart devices)       ########################### End*/
}
#body-w-info #shadow-box {
  width: 80%;
  height: 220px;
  background-color: #82D2EE;
  top: -30px;
  left: 13%;
  opacity: 36%;
}
#body-w-info #blue-box {
  width: 80%;
  height: 220px;
  background-color: #82D2EE;
  top: -280px;
  left: 10%;
}
#body-w-info #blue-box h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3vw;
  color: #141C39;
  top: 4vw;
}
@media only screen and (max-width: 900px) {
  #body-w-info #blue-box {
    width: 80%;
    padding: 40px 10%;
    left: 0;
    height: 120px;
    margin-top: 10px;
    top: -120px;
  }
  #body-w-info #blue-box h1 {
    font-size: 25px;
  }
  #body-w-info #shadow-box {
    display: none;
  }
}
#body-w-info #page-buttons {
  width: 100%;
  background-color: #F0F2F8;
  top: -12vw;
  display: flex;
  align-items: center;
  margin-bottom: 10vh;
}
#body-w-info #page-buttons .button {
  background-color: #EE6CB7;
  color: #F0F2F8;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  outline-style: none;
  border: none;
  left: 8vw;
  font-size: 20px;
  cursor: pointer;
}
#body-w-info #page-buttons .button:hover {
  box-shadow: 0 1px 3px grey;
}
#body-w-info #page-buttons p {
  left: 10vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
}
@media only screen and (max-width: 900px) {
  #body-w-info #page-buttons {
    display: block;
    top: -15px;
  }
  #body-w-info #page-buttons p {
    top: -70px;
    font-size: 20px;
    left: 0;
    text-align: center;
  }
  #body-w-info #page-buttons .button {
    width: 70%;
    left: 15%;
  }
}

#footer {
  width: 100%;
  height: 300px;
  background-color: #F7CE74;
  /* For smaller screens (smart devices)     ########################### Begining*/
  /* For smaller screens (smart devices)    ########################### End*/
}
#footer #contact-title {
  width: 60%;
  left: 4vw;
  top: 1vw;
  height: 7vw;
}
#footer #contact-title h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
}
#footer #contact-title .line {
  border-bottom: solid #141C39 3px;
  width: 350px;
}
#footer #socials {
  display: flex;
  width: 95%;
  padding-left: 5%;
  height: 100px;
  align-items: center;
  justify-content: left;
}
#footer #socials #tiktok-logo {
  height: 60px;
  width: 60px;
  background-image: url(../images/tiktok.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
#footer #socials #linkedin-logo {
  height: 44px;
  width: 44px;
  background-image: url(../images/linkedin.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
}
#footer #socials #email {
  height: 42px;
  width: 44px;
  background-image: url(../images/email.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 900px) {
  #footer #contact-title {
    left: 0;
    width: 100%;
  }
  #footer #contact-title h1 {
    text-align: center;
    font-size: 30px;
  }
  #footer #contact-title .line {
    display: none;
  }
  #footer #contact-title .line2 {
    display: none;
  }
  #footer #contact-title .line3 {
    display: none;
  }
  #footer #socials {
    display: flex;
    width: 100%;
    padding-left: 0%;
    align-items: center;
    justify-content: space-around;
  }
  #footer #socials #tiktok-logo {
    margin-right: 0;
  }
  #footer #socials #linkedin-logo {
    margin-right: 0;
  }
}
#footer p {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 1.2vw;
  top: 275px;
  height: 1.2vw;
  left: 70vw;
}
@media only screen and (max-width: 900px) {
  #footer p {
    position: relative;
    font-size: 10px;
    left: 0;
    text-align: center;
    top: 160px;
  }
}

* {
  padding: 0;
  margin: 0;
  position: relative;
}

::selection {
  color: none;
  background: #F7CE74;
}

/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

#main-pic {
  width: 100%;
  height: 48vw;
  margin: 0 auto;
  background-image: url(../images/about-us-header.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  /* For smaller screens (smart devices)        ########################### Begining*/
  /* For smaller screens (smart devices)        ########################### Ending*/
}
#main-pic h1 {
  font-size: 5vw;
  left: 12vw;
  top: 2vw;
  margin-right: 2vw;
}
@media only screen and (max-width: 900px) {
  #main-pic h1 {
    font-size: 40px;
  }
}

.about-wrapper {
  display: flex;
}

.left-side {
  width: 50%;
}

#elipse {
  left: 17vw;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-image: linear-gradient(to bottom right, #141C39, #82D2EE);
}
#elipse .persons-image {
  height: 160px;
  width: 160px;
  border-radius: 100px;
  background-image: url(../images/omar.JPG);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 60%;
  left: 30px;
  top: 25px;
}

#our-info {
  top: 10px;
  left: 20vw;
  display: block;
  width: fit-content;
}
#our-info h1 {
  font-size: 25px;
  color: #66686C;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
#our-info .line {
  border-bottom: solid #95979B 2px;
  width: 30px;
  margin-top: 10px;
}
#our-info p {
  font-size: 18px;
  color: #95979B;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin-top: 10px;
}

.right-side {
  display: block;
  width: 40%;
  padding: 0 10%;
  text-align: left;
}
.right-side h1 {
  margin: 0 auto;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #EE6CB7;
}
.right-side p {
  margin: 0 auto;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  color: #8d9096;
  font-size: 20px;
  font-weight: lighter;
  line-height: 40px;
}

/* For smaller screens (smart devices)        ########################### Begining*/
@media only screen and (max-width: 900px) {
  .about-wrapper {
    display: block;
  }

  .right-side {
    width: 80%;
    padding: 0 10%;
    margin-top: 100px;
  }

  .left-side {
    width: 100%;
  }

  #elipse {
    left: 0;
    margin: 0 auto;
  }

  #our-info {
    left: 0;
    margin: 0 auto;
  }
}
/* For smaller screens (smart devices)        ########################### Ending*/
#white-space {
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
}

#languages {
  width: 100%;
  height: 300px;
  background-color: #F0F2F8;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}
#languages img {
  top: 20px;
  height: 70px;
  width: 70px;
  align-self: center;
  margin: 10px 20px;
}
#languages h1 {
  position: absolute;
  color: #EE6CB7;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 290px) {
  #languages {
    height: 500px;
  }
}
#portfolio {
  background-color: #FFFFFF;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}
#portfolio h1 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 20px;
  color: #EE6CB7;
}
#portfolio .project {
  position: relative;
  height: 400px;
  width: 300px;
  margin: 10px 10px;
  background-color: #FFFFFF;
  border-radius: 20px;
  text-align: center;
}
#portfolio .project h2 {
  top: 10px;
  color: #EE6CB7;
  font-family: Arial, Helvetica, sans-serif;
}
#portfolio .project p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4D535E;
  margin-top: 25px;
}
#portfolio .project .picture {
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFFFF;
  background-size: contain;
  border-radius: 20px;
}
#portfolio .project .cover {
  position: absolute;
  top: 0px;
  z-index: 200;
  height: 80%;
  width: 80%;
  background-color: transparent;
  border-radius: 20px;
  padding: 10% 10%;
}
#portfolio .project .cover p {
  color: transparent;
  text-align: left;
  line-height: 40px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
#portfolio .project .cover a {
  position: relative;
  color: transparent;
  text-align: left;
  line-height: 40px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
#portfolio .project .cover:hover {
  background-color: #4D535E;
}
#portfolio .project .cover:hover p {
  color: #FFFFFF;
}
#portfolio .project .cover:hover a {
  color: #F7CE74;
}
@media only screen and (max-width: 380px) {
  #portfolio .project {
    width: 90%;
  }
  #portfolio .project .picture {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
